nav .change-name-color {
    color: #ffffff !important;
    font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
}

header.masthead {
    background-image: url(../img/Death_to_Stock_Equinox_9.jpg) !important;
 }

.portfolio-img {
    border: 2px solid #d6d8d9 !important;
}

.portfolio-prof-pic {
    width: auto !important;
}

.text-muted {
    font-size: 16px !important;
    line-height: 1.6 !important;
}


.contact-info {
    font-family: inherit !important;
    font-size: 16px !important;
    color: #ffffff !important;
}

.email-link {
    color: #ffffff !important;
    text-decoration: none !important;

}

contact-font {
    font-family: 'Roboto Slab','Helvetica Neue',Helvetica,Arial,sans-serif !important;
}

