<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

  <head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>

    <title>Audrey Sperry</title>

    <!-- Bootstrap core CSS -->
    <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>

    <!-- Custom fonts for this template -->
    <link href="/assets/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css"/>
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'/>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'/>

    <!-- Custom styles for this template -->
    <link href="/assets/css/agency.min.css" rel="stylesheet"/>

    <!-- My custom styles -->
    <link href="/assets/css/app.css" rel="stylesheet"/>

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="mainNav">
      <div class="container">
        <a class="navbar-brand change-name-color js-scroll-trigger" href="#page-top">Audrey Sperry</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
          Menu
          <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#services">Skills</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#portfolio">Portfolio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#about">Resume</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#team">About</a>
            </li>
            <li class="nav-item">
              <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <!-- Header -->
    <header class="masthead">
      <div class="container">
        <div class="intro-text">
          <div class="intro-lead-in">Hi, I'm Audrey.</div>
          <div class="intro-heading">It's nice to meet you</div>
          <a class="btn btn-xl js-scroll-trigger" href="#portfolio">My Work</a>
        </div>
      </div>
    </header>

    <!-- Skills -->
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Skills</h2>
            <h3 class="section-subheading text-muted"></h3>
          </div>
        </div>
        <div class="row text-center">
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-code fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">front-end</h4>
            <p class="text-muted">HTML | CSS | Bootstrap | JavaScript | JQuery | Flexbox | Responsive Design | Fetch Requests</p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-database fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">back-end</h4>
            <p class="text-muted">Java | Spring Boot | Thymeleaf | IntelliJ | JDBC | JUnit | JPA | Node.js | Express | JS | SQL | Sequelize | Postgresql | Mongodb | Mongoose | Jest </p>
          </div>
          <div class="col-md-4">
            <span class="fa-stack fa-4x">
              <i class="fa fa-circle fa-stack-2x text-primary"></i>
              <i class="fa fa-laptop  fa-stack-1x fa-inverse"></i>
            </span>
            <h4 class="service-heading">other</h4>
            <p class="text-muted">RESTful APIs | Test-driven Development | GIT | Github | DataGrip | Heroku | MVC Architecture </p>
          </div>
        </div>
      </div>
    </section>

    <!-- Portfolio Grid -->
    <section class="bg-light" id="portfolio">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">My Work</h2>
            <h3 class="section-subheading text-muted">Check out a few of my recent projects below</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal1">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" id="portfolio-img" src="/assets/img/portfolio/gabble1.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Gabble</h4>
              <p class="text-muted">Node.js</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal2">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/songsampler1.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Song Sampler</h4>
              <p class="text-muted">JavaScript</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal3">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/githubprofile.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Github Profile</h4>
              <p class="text-muted">JavaScript, HTML, CSS</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal4">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/virtualdatabase.jpg.png" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Virtual ATM</h4>
              <p class="text-muted">Java</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal5">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/05-thumbnail.jpg" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Some Java Project</h4>
              <p class="text-muted">Java</p>
            </div>
          </div>
          <div class="col-md-4 col-sm-6 portfolio-item">
            <a class="portfolio-link" data-toggle="modal" href="#portfolioModal6">
              <div class="portfolio-hover">
                <div class="portfolio-hover-content">
                  <i class="fa fa-plus fa-3x"></i>
                </div>
              </div>
              <img class="img-fluid portfolio-img" src="/assets/img/portfolio/06-thumbnail.jpg" alt=""/>
            </a>
            <div class="portfolio-caption">
              <h4>Some Java Project</h4>
              <p class="text-muted">Java</p>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Resume</h2>
            <h3 class="section-subheading text-muted">My professional path</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12">
            <ul class="timeline">
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/img/portfolio/bicycle2.png" alt=""/>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2014-2016</h4>
                    <h4 class="subheading">Active Lifesyles Coordinator</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted"> Spearheaded the development of a new database management system for community bike rental program.
                    </p>
                    <p class="text-muted"> Project managed all aspects of annual professional cycling race, doubled revenue of previous year and surpassed attendance and participation goals.
                    </p>
                  </div>
                </div>
              </li>
              <li class="timeline-inverted">
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/img/portfolio/consult.png" alt=""/>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>2015-2017</h4>
                    <h4 class="subheading">Strategy Consultant</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Facilitated organization and community-wide collaborative efforts including strategic planning, focus groups and mergers.
                    </p>

                    <p class="text-muted">Guided community and nonprofit leaders through major decisions using facilitation and collaboration strategies.</p>

                    <p class="text-muted">Managed the implementation of work to ensure clients’ needs were met, and the project completed on time.
                    </p>
                  </div>
                </div>
              </li>
              <li>
                <div class="timeline-image">
                  <img class="rounded-circle img-fluid" src="/assets/img/portfolio/code.png" alt=""/>
                </div>
                <div class="timeline-panel">
                  <div class="timeline-heading">
                    <h4>Summer 2017</h4>
                    <h4 class="subheading">The Iron Yard</h4>
                  </div>
                  <div class="timeline-body">
                    <p class="text-muted">Completed a 12-week, full-stack development program. During the last four weeks, I focused on Java development with Spring Boot.</p>
                  </div>
                </div>
              </li>
              <!--<li class="timeline-inverted">-->
                <!--<div class="timeline-image">-->
                  <!--<img class="rounded-circle img-fluid" src="/assets/img/about/4.jpg" alt=""/>-->
                <!--</div>-->
                <!--<div class="timeline-panel">-->
                  <!--<div class="timeline-heading">-->
                    <!--<h4>July 2014</h4>-->
                    <!--<h4 class="subheading">Phase Two Expansion</h4>-->
                  <!--</div>-->
                  <!--<div class="timeline-body">-->
                    <!--<p class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!</p>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</li>-->
              <li class="timeline-inverted">
                <a href="/assets/img/portfolio/asperryresume3.pdf" target="_blank"><div class="timeline-image">
                  <h4>Click to
                    <br/>Download
                    <br/>Resume</h4>
                </div></a>

              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>

    <!-- About -->
    <section class="bg-light" id="team">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">About</h2>
            <h3 class="section-subheading text-muted">How I got where I'm going</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12 col-md-3">
            <div class="team-member">
              <img class="portfolio-prof-pic" id="portfolio-prof-pic" src="/assets/img/portfolio/asperry.jpg" alt=""/>
            </div>
          </div>

          <div class="col-sm-12 col-md-8 ">
            <p class="large text-muted">Hello. I am a software developer living in the Upstate of SC. After graduating from Connecticut College, I decided to head south for a new adventure. I signed up for a year of nonprofit volunteering through AmeriCorps, packed my bags and moved to Spartanburg, SC. I had every intention of heading back North after completing my year of service but the southeast managed to capture a piece of my heart and I’ve been embracing my southern side ever since.
            </p>
            <p class="large text-muted">In the spring of 2016, while working as a strategy consultant for a nonprofit and community consulting form, a colleague and I set out to design a tool to make it easier for out clients to manage the systems that sustain their impact. This incredibily educational, challenging, and rewarding experience opened my eyes to the world of software development.
            </p>
            <p class="large text-muted">In the summer of 2017 I enrolled at The Iron Yard Greenville, a 12-week coding bootcamp, to jumpstart my software development experience in an immersive, fast-paced environment. I look forward to joining a team where I can help a company solve their largest problems with enthusiasm, passion and a sense of humor.</p>
            <p class="large text-muted">I'd love the chance to talk with you more about web and software development, dogs, and/or how shocked I am by the speed at which I started using (and loving) the phrase "y'all".</p>
          </div>
        </div>
      </div>
    </section>


    <!-- Clients -->

    <!--<section class="py-5">-->
      <!--<div class="container">-->
        <!--<div class="row">-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/envato.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/designmodo.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/themeforest.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
          <!--<div class="col-md-3 col-sm-6">-->
            <!--<a href="#">-->
              <!--<img class="img-fluid d-block mx-auto" src="/assets/img/logos/creative-market.jpg" alt=""/>-->
            <!--</a>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</section> -->

    <!-- Contact -->
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">Let's Connect</h2>
            <h3 class="section-subheading text-muted">I look forward to working with you</h3>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-12 text-center text-muted contact-info">
            <i class="fa fa-phone"></i>
            <span class="contact-font">  860.874.2756</span>
            <br/>
            <a class="email-link" href="mailto:audrey.sperry@gmail.com"><i class="fa fa-envelope"></i><span class="contact-font">  audrey.sperry@gmail.com</span></a>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-md-4">
            <span class="copyright">Copyright &copy; Audrey Sperry 2017</span>
          </div>
          <div class="col-md-4">
            <ul class="list-inline social-buttons">
              <li class="list-inline-item">
                <a href="mailto:audrey.sperry@gmail.com">
                  <i class="fa fa-envelope-o"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://github.com/audreysperry" target="_blank">
                  <i class="fa fa-github"></i>
                </a>
              </li>
              <li class="list-inline-item">
                <a href="https://www.linkedin.com/in/audreysperry/" target="_blank">
                  <i class="fa fa-linkedin"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-md-4">
            <ul class="list-inline quicklinks">
              <li class="list-inline-item favicon-credit">
                <a href="https://github.com/BlackrockDigital/startbootstrap-agency">Theme &copy; Blackrock Digital, LLC, 2013-2017</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>

    <!-- Portfolio Modals -->

    <!-- TimeLeaf Modals -->
    <div th:each="myProject : ${myProjects}" class="portfolio-modal modal fade" th:id="${myProject.modalid}" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="close-modal" data-dismiss="modal">
            <div class="lr">
              <div class="rl"></div>
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-lg-8 mx-auto">
                <div class="modal-body">
                  <!-- Project Details Go Here -->
                  <h2 th:text="${myProject.title}"></h2>
                  <p class="item-intro text-muted" th:text="${myProject.shortdescription}"></p>
                  <img class="img-fluid d-block mx-auto" th:src="${myProject.imagelink}" alt=""/>
                  <p th:text="${myProject.longdescription}"></p>
                  <ul class="list-inline">
                    <li th:text="${myProject.date}"></li>
                    <li th:text="${myProject.languages}"></li>
                    <li><a th:href="${myProject.sourcecode}" target="_blank">View Source Code</a></li>
                  </ul>
                  <button class="btn btn-primary" data-dismiss="modal" type="button">
                    <i class="fa fa-times"></i>
                    Close Project</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!--&lt;!&ndash; Modal 1 &ndash;&gt;-->
    <!--<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="close-modal" data-dismiss="modal">-->
            <!--<div class="lr">-->
              <!--<div class="rl"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-8 mx-auto">-->
                <!--<div class="modal-body">-->
                  <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
                  <!--<h2>Gabble</h2>-->
                  <!--<p class="item-intro text-muted">A Twitter like app.</p>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/gabble1.png" alt=""/>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/gabble2.png" alt=""/>-->
                  <!--<p>I used node.js, express, and sequelize to create a twitter like app called Gabble. The app uses passport for user authentication and allows users to create, like, update, and delete posts.</p>-->
                  <!--<ul class="list-inline">-->
                    <!--<li>Summer 2017</li>-->
                    <!--<li>Node.js, Express, Sequelize</li>-->
                    <!--<li><a href="https://gabble-aps.herokuapp.com" target="_blank">View Live Site</a></li>-->
                    <!--<li><a href="https://github.com/audreysperry/gabble" target="_blank">View Source Code</a></li>-->
                  <!--</ul>-->
                  <!--<button class="btn btn-primary" data-dismiss="modal" type="button">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--Close Project</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Modal 2 &ndash;&gt;-->
    <!--<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="close-modal" data-dismiss="modal">-->
            <!--<div class="lr">-->
              <!--<div class="rl"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-8 mx-auto">-->
                <!--<div class="modal-body">-->
                  <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
                  <!--<h2>Song Sampler</h2>-->
                  <!--<p class="item-intro text-muted">Sample iTunes songs. </p>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/songsampler1.png" alt=""/>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/songsampler2.png" alt=""/>-->
                  <!--<p>This application allows users to search samples of songs and music videos from iTunes API.</p>-->
                  <!--<ul class="list-inline">-->
                    <!--<li>Summer 2017</li>-->
                    <!--<li>JavaScript</li>-->
                    <!--<li><a href="https://audreysperry.github.io/song-sampler/" target="_blank">View Live Site</a></li>-->
                    <!--<li><a href="https://github.com/audreysperry/song-sampler" target="_blank">View Source Code</a></li>-->
                  <!--</ul>-->
                  <!--<button class="btn btn-primary" data-dismiss="modal" type="button">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--Close Project</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Modal 3 &ndash;&gt;-->
    <!--<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="close-modal" data-dismiss="modal">-->
            <!--<div class="lr">-->
              <!--<div class="rl"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-8 mx-auto">-->
                <!--<div class="modal-body">-->
                  <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
                  <!--<h2>GitHub Profile</h2>-->
                  <!--<p class="item-intro text-muted">Recreation of my GitHub Profile</p>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/githubprofile.png" alt=""/>-->
                  <!--<p>I used the Github API to recreate my personal Github repository page. This project utilized Bootstrap and fetch calls to the Github API.</p>-->
                  <!--<ul class="list-inline">-->
                    <!--<li>Summer 2017</li>-->
                    <!--<li>JS, HTML, CSS</li>-->
                    <!--<li><a href="https://audreysperry.github.io/4.2-github-profile/" target="_blank">View Live Site</a></li>-->
                    <!--<li><a href="https://github.com/audreysperry/4.2-github-profile" target="_blank">View Source Code</a></li>-->
                  <!--</ul>-->
                  <!--<button class="btn btn-primary" data-dismiss="modal" type="button">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--Close Project</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Modal 4 &ndash;&gt;-->
    <!--<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="close-modal" data-dismiss="modal">-->
            <!--<div class="lr">-->
              <!--<div class="rl"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-8 mx-auto">-->
                <!--<div class="modal-body">-->
                  <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
                  <!--<h2>Virtual ATM</h2>-->
                  <!--<p class="item-intro text-muted">A virtual atm allowing users to make deposits, withdrawals and get their account balance.</p>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/virtualdatabase.jpg.png" alt=""/>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/virtualatm.jpg.png" alt=""/>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/virtualatm2.jpg.png" alt=""/>-->
                  <!--<p>This application allows users to make deposits, and withdrawals (only if the funds are in their account) and calculates their account balance dynamically upon request.</p>-->
                  <!--<ul class="list-inline">-->
                    <!--<li>Summer 2017</li>-->
                    <!--<li>Java</li>-->
                    <!--<li><a href="https://github.com/audreysperry/userATM" target="_blank">View Source Code</a></li>-->
                  <!--</ul>-->
                  <!--<button class="btn btn-primary" data-dismiss="modal" type="button">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--Close Project</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Modal 5 &ndash;&gt;-->
    <!--<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="close-modal" data-dismiss="modal">-->
            <!--<div class="lr">-->
              <!--<div class="rl"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-8 mx-auto">-->
                <!--<div class="modal-body">-->
                  <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
                  <!--<h2>Project Name</h2>-->
                  <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/05-full.jpg" alt=""/>-->
                  <!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
                  <!--<ul class="list-inline">-->
                    <!--<li>Date: January 2017</li>-->
                    <!--<li>Client: Southwest</li>-->
                    <!--<li>Category: Website Design</li>-->
                  <!--</ul>-->
                  <!--<button class="btn btn-primary" data-dismiss="modal" type="button">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--Close Project</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--&lt;!&ndash; Modal 6 &ndash;&gt;-->
    <!--<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">-->
      <!--<div class="modal-dialog">-->
        <!--<div class="modal-content">-->
          <!--<div class="close-modal" data-dismiss="modal">-->
            <!--<div class="lr">-->
              <!--<div class="rl"></div>-->
            <!--</div>-->
          <!--</div>-->
          <!--<div class="container">-->
            <!--<div class="row">-->
              <!--<div class="col-lg-8 mx-auto">-->
                <!--<div class="modal-body">-->
                  <!--&lt;!&ndash; Project Details Go Here &ndash;&gt;-->
                  <!--<h2>Project Name</h2>-->
                  <!--<p class="item-intro text-muted">Lorem ipsum dolor sit amet consectetur.</p>-->
                  <!--<img class="img-fluid d-block mx-auto" src="/assets/img/portfolio/06-full.jpg" alt=""/>-->
                  <!--<p>Use this area to describe your project. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Est blanditiis dolorem culpa incidunt minus dignissimos deserunt repellat aperiam quasi sunt officia expedita beatae cupiditate, maiores repudiandae, nostrum, reiciendis facere nemo!</p>-->
                  <!--<ul class="list-inline">-->
                    <!--<li>Date: January 2017</li>-->
                    <!--<li>Client: Window</li>-->
                    <!--<li>Category: Photography</li>-->
                  <!--</ul>-->
                  <!--<button class="btn btn-primary" data-dismiss="modal" type="button">-->
                    <!--<i class="fa fa-times"></i>-->
                    <!--Close Project</button>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!-- Bootstrap core JavaScript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/popper/popper.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="/assets/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Contact form JavaScript -->
    <script src="/assets/js/jqBootstrapValidation.js"></script>
    <script src="/assets/js/contact_me.js"></script>

    <!-- Custom scripts for this template -->
    <script src="/assets/js/agency.min.js"></script>

  </body>

</html>
